.header {
    background-color: rgb(187, 187, 187);
    height: 80px;
    width: 100%;
    display: flex;
}

.logo-container {
    display: flex;
    width: 100%;
    gap: 20px;
    height: auto;
    align-items: center;
    justify-content: space-between;
}
.logo {
    opacity: 0.8;
    width: 50px;
    padding: 2rem;
}

.headerButton {
    margin-right: 3rem;
    color: var(--primary-color);
    padding: 0.4rem;
    border: black solid 1px;
    border-radius: 10px;
}

.siteTitle {
    font-size: 1.4rem;
    color: var(--primary-color);
}

